@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

body {
    padding: 25px;
    background-color: white;
    font-size: 25px;
    min-height: 100vh;
    max-width: 100%;
    /*display: flex;*/
    /*align-content: center;*/
    /*justify-items: center;*/
}

.slideContainer{
    justify-content: center;
    align-content: center;
    alignment-baseline: center;
    display: flex;
    padding-top: 20%;
    flex-direction: column;
}


#prev-next{
    cursor:pointer;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding: 40px;
    font-size: 40px;
    gap: 20px;
    z-index: 9999;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}
.prev{

    /*margin: 10px, 10px, 0%px, 30px;*/


}
    /*margin: 30px, 10px, 0%px, 10px;*/




#secret-prev-next{
    position: absolute;
    border-radius: 90%;

    z-index: 999999;
    background: #19191a;
    width: 150px;
    height: 40px;
    padding-top: 50px;
    padding-left: 20px;
    margin-top: -120px;
    margin-left: 30px;
    color: #000000;
    font-size: 28px;
    cursor:pointer;


}

iframe{
    /*position: fixed;*/
}

.controls{
    position: absolute;
    top: 4%;
    height: 10px;
    width: 10px;
    z-index: 99999;

}
.play{
    height: 2rem;
    width: 2rem;
    cursor:pointer;

}

.slide1{
    background-color: black;
    color: white;
}
.slide2 {
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide2fade 4s ease forwards ;
    -moz-animation: slide2fade 4s ease forwards ;
    animation: slide2fade 4s ease forwards;
}
@-webkit-keyframes slide2fade {

    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes AnimationName {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide2fade {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide3 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(32, 32, 32,1) 60%, rgba(16, 16, 16,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide3fade 4s ease forwards  ;
    -moz-animation: slide3fade  4s ease forwards ;
    animation: slide3fade  4s ease forwards;
}
@-webkit-keyframes slide3fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}    .slideContainer{
         padding-top: 10%;

     }
@-moz-keyframes slide3fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide3fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide4 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(64, 64, 64,1) 60%, rgba(32, 32, 32,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide4fade 4s ease forwards  ;
    -moz-animation: slide4fade  4s ease forwards ;
    animation: slide4fade  4s ease forwards;
}
@-webkit-keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}

.slide5 {
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(64, 64, 64,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide5fade 4s ease forwards ;
    -moz-animation: slide5fade 4s ease forwards ;
    animation: slide5fade 4s ease forwards;
}
@-webkit-keyframes slide5fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide5fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide5fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide6 {
    background: radial-gradient(ellipse at 50% 50%,  rgba(32, 32, 32,1) 50%, rgba(16, 16, 16,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide6fade 4s ease forwards ;
    -moz-animation: slide6fade 4s ease forwards ;
    animation: slide6fade 4s ease forwards;
}
@-webkit-keyframes slide6fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide6fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide6fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide7 {
    background: radial-gradient(ellipse at 50% 50%, rgba(64, 64, 64,1) 50%, rgba(32, 32, 32,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide7fade 4s ease forwards ;
    -moz-animation: slide7fade 4s ease forwards ;
    animation: slide7fade 4s ease forwards;
}
@-webkit-keyframes slide7fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide7fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide7fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide8{
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(64, 64, 64,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide8fade 4s ease forwards ;
    -moz-animation: slide8fade 4s ease forwards ;
    animation: slide8fade 4s ease forwards;
}
@-webkit-keyframes slid8fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide8fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slid8fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide9 {
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide9fade 4s ease forwards ;
    -moz-animation: slide9fade 4s ease forwards ;
    animation: slide9fade 4s ease forwards;
}
@-webkit-keyframes slide9fade {

    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes AnimationName {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide9fade {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide109{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(32, 32, 32,1) 60%, rgba(16, 16, 16,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide10fade 4s ease forwards  ;
    -moz-animation: slide10fade  4s ease forwards ;
    animation: slide10fade  4s ease forwards;
}
@-webkit-keyframes slide10fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide10fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide10fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide11 {
    background: radial-gradient(ellipse at 50% 50%, rgba(0,0,0,1),  rgba(16, 16, 16,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide11fade 4s ease forwards ;
    -moz-animation: slide11fade 4s ease forwards ;
    animation: slide11fade 4s ease forwards;
}
@-webkit-keyframes slide11fade {

    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes AnimationName {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide11fade {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide12{
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide12fade 4s ease forwards ;
    -moz-animation: slide12fade 4s ease forwards ;
    animation: slide12fade 4s ease forwards;
}
@-webkit-keyframes slide12fade {

    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes AnimationName {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide12fade {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide13 {
    background: rgb(0,0,0);
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide13fade 4s ease forwards  ;
    -moz-animation: slide13fade  4s ease forwards ;
    animation: slide13fade  4s ease forwards;
}
@-webkit-keyframes slide13fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide13fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide13fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide14 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(32, 32, 32,1) 60%, rgba(20,20,20)100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide4fade 14s ease forwards  ;
    -moz-animation: slide4fade  14s ease forwards ;
    animation: slide4fade  414 ease forwards;
}
@-webkit-keyframes slide14fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide14fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide14fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide15 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(64, 64, 64,1) 60%, rgba(32, 32, 32,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide15fade 4s ease forwards  ;
    -moz-animation: slide15fade  4s ease forwards ;
    animation: slide15fade  4s ease forwards;
}
@-webkit-keyframes slide15fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide15fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide15fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide16 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgb(55, 56, 80) 60%, rgba(32, 32, 32,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide16fade 4s ease forwards  ;
    -moz-animation: slide16fade  4s ease forwards ;
    animation: slide16fade  4s ease forwards;
}
@-webkit-keyframes slide16fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide16fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide16fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide17 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgb(87, 45, 101) 60%, rgba(32, 32, 32,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide17fade 4s ease forwards  ;
    -moz-animation: slide17fade  4s ease forwards ;
    animation: slide17fade  4s ease forwards;
}
@-webkit-keyframes slide17fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide17fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide17fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide18 {
    background: linear-gradient(52deg,#8d4aff, #f5ae2d,#234fad);

    /*background: rgb(0,0,0);*/
    /*background: linear-gradient(270deg, rgba(64, 64, 64,1) 60%, rgba(32, 32, 32,1) 100%);*/
    color: white;
    background-size: 1000% 1000%;
    animation: gradient-animation 15s ease infinite;

    /*-webkit-animation: slide18fade 4s ease forwards  ;*/
    /*-moz-animation: slide18fade  4s ease forwards ;*/
    /*animation: slide18fade  4s ease forwards;*/
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*@-webkit-keyframes slide18fade  {*/
/*    0% { background-position: 0 100%; }*/
/*    100% { background-position: 100%; }*/

/*}*/
/*@-moz-keyframes slide18fade  {*/
/*    0% { background-position: 0 100%; }*/
/*    100% { background-position: 100%; }*/
/*}*/
/*@keyframes slide18fade  {*/
/*    0% { background-position: 0 100%; }*/
/*    100% { background-position: 100%; }*/
/*}*/
.slide19 {
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgb(65, 38, 65) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #30043f 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide19fade 15s ease forwards ;
    -moz-animation: slide19fade 15s ease forwards ;
    animation: slide19fade 15s ease forwards;
}
@-webkit-keyframes slide19fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide19fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide19fade {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100%;
    }
}
.slide20 {
    background: #141415;
    background-size: 1000% 1000%;
    color: white;
    -webkit-animation: slide20fade 4s ease forwards  ;
    -moz-animation: slide20fade  4s ease forwards ;
    animation: slide20fade  4s ease forwards;
}
@-webkit-keyframes slide20fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide20fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide20fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
#secret-slide-20{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;



}
#secret-slide{
    font-size: 70px;


}



.container{
    font-size: 24px;
    place-items: center;
    width:auto;
    /*overflow: auto;*/
    /*position: absolute;*/
    /*what makes the width the size of content*/
    display: inline-block;
    text-align: center; /* Add this line to center the text */

}
.mySlides{
    width: auto;
    text-align: center; /* Add this line to center the text */
}

.caption {
    text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 2px #36705f, 0 0 2px #3c8670,0 0 5px #0fa;

    font-size: 50px;
    margin-top: 4rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: auto;
    -webkit-animation: fadeIn  5s ease infinite, typing 1s steps(10, end) forwards, blinking 1s infinite;
    -moz-animation:  fadeIn  5s ease infinite, typing 1s steps(10, end) forwards, blinking 1s infinite;
    opacity: 0;

}

#continuecontain{
    top: 65%;
    z-index: 99999;
    position: absolute;
    display: block;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-left: 30px;
    cursor:pointer;

}
.continue{
    filter: drop-shadow(0 0 0.9rem rgba(214, 255, 241, 0.58));
    font-size: xxx-large;
    align-self: center;
    opacity: 90%;
    text-decoration: none;
    color: inherit;


}

#restartCont{
    z-index: -1;
    position: fixed;
    justify-content: center;
    /*align-self: center;*/
    align-content: center;
    /*margin-left: 40px;*/
    /*margin-right: 500px;*/
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);

}

#restart{

    /*align-self: center;*/
    width: 300px;
    height: 300px;
    -webkit-animation: restartfadeIn  5s ease infinite, float 3s ease-in-out infinite;
    -moz-animation:  restartfadeIn  5s ease infinite, float 3s ease-in-out infinite;
    transform: translatey(0px);
    border-radius: 50%; /* For a circle shape */
    filter: drop-shadow(0 0 2rem white);
}

#restart:hover{
    opacity: 10%;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes restartfadeIn {
    0%, 100% {opacity: 60%}
    50%{opacity: 100%}

}




@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: white}
    100% {border-color: transparent}
}

@keyframes fadeIn {
    0%, 100% {opacity: 60%}
    50%{opacity: 100%}

}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: #000;*/
    opacity: .6;
    /*filter: alpha(opacity=60);*/
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/* Media query for smaller screens */
@media screen and (max-width: 700px) {
]
#restartCont{

    /*left: 20%;*/

}
.slideContainer{
    padding-top: 20%;

}
#intro{
    flex-basis: 100%;


}
    #app{
        height: auto;
        flex-direction: column-reverse;


    }
}
.notes {
    /*flex-basis: calc(50% - 12px); !* 2 columns with 24px gap *!*/
    flex-basis: 100%; /* Single column */


}



/*imgs*/
#glass{
    z-index: 3;
    height: 450px;
    width: 250px;
    margin-top: 25px;
    margin-left: 8px;
}
.imgslides{
    position: absolute;
    width: 236px;
    height: 510px;
    opacity: 50%;
    /*display: none;*/
    animation: fadeimg ease-in-out 6s infinite;
    top: 40%;
    filter: blur(1px);


}
.longercanvas{
    position: absolute;
    top: -100%;
    max-height: 900px;

}
#slide1img{
    blur(5px);
}
@keyframes blinking2 {
    0% {opacity: 0; filter: blur(1px)}
    50% {opacity: 80%; filter: blur(4px)}
    100% {opacity: 0; filter: blur(1px)}
}
#dog{
    position: absolute;
    top:-30%;
    width: 550px;
    height: 1000px;
    margin-left: -80%;
    opacity: 30%;
    filter: blur(1px);



}
#plant{
    position: absolute;
    height: 2000px;
    width: 1000px;
    margin-left: 35vw;
    top: -100%;
    opacity: 50%;

    filter: blur(5px);


}
#sitting {
    margin-left: 300px;
    top: -75%;
    position: absolute;
    max-height: 350px;
}

.party{
    position: absolute;
    width: 2000px;
    height: 2000px;
    opacity: 50%;
    /*display: none;*/
    /*animation: fadeimg ease-in-out 6s infinite;*/
    top: -60%;
    margin-left: -20%;

}
#havefun{
    opacity: 40%;
    /*position: absolute;*/
    /*top: -50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: auto;*/
    /*height: 150vh; /*/
}
.stayupallnight{
    position: fixed;
    width: 60px;
    height: 60px;
    opacity: 50%;
    /*display: none;*/
    /*animation: fadeimg ease-in-out 6s infinite;*/
    top: -5%;
    margin-left: -50px;
}
#tired{
    position: absolute;
    top:-120%;
    filter: blur(6px);

        animation: blurring  ease-in-out 4s forwards;
}

    @keyframes blurring {
        0% {opacity: 100%}
        100% {opacity: 20%}
    }
.tired{
    filter: blur(10px);


}

#glitch{
    position: absolute;
    width: 2000px;
    height: 2000px;
    left: -40%;
    top: -30%;
    opacity: 15%;
}

.blur{
    animation: blinking2 2s infinite

}

@keyframes fadeimg {
    0% {opacity: 20%}
    50% {opacity: 70%}
    100% {opacity: 20%}
}
#slide1img{
    opacity: 40%;
    position: absolute;
}


/* Media query for even smaller screens */
@media screen and (max-width: 300px) {
    #restartCont{

        /*left: 1%;*/

    }
    #intro{
        /*flex-basis: 100%;*/

    }
    .flex-item:nth-of-type(1) { order: 1; }
    .slideContainer{
        padding-top: 20%;

    }

    #app{
        height: auto;

        flex-direction: column-reverse;


    }

    .notes {
        flex-basis: 100%;
    }

}

