body{
    margin:0;


    background: linear-gradient(330deg,#000000,#121312,#1c1d1c,#a2a4a2);
    background-size: 1000% 1000%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#app {
    display: flex;
    flex-flow: column wrap;
    gap: 24px;
    height: 700px;
    width: auto;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: flex-start;
    align-content: center;
    padding: 10% 20px 20px 20px;
    align-self: flex-start;
}

#intro{
    padding: 30px;
}
.notes{
    /*box-sizing: border-box;*/
    /*padding: 100px;*/
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0, 0.15);
    font-size: clamp(1rem, 10vmin, 6rem);
    /*height: 400px;*/
    inset: 0;
    display: flex;


}

textarea{
    /*height: 50px;*/
    padding: 2% 2% 0 2%;
    background: black;
    color: white;
    border-radius: 30px;
    border: none;


}
.add-note{
    border: none;
    outline: none;
    background: rgb(86,86,86);
    border-radius: 20px;
    font-size: 18px;
    padding: 15px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-note:hover{
    opacity: 30%;
    color: #a2a4a2;
}
