body {
    padding: 25px;
    background-color: white;
    font-size: 25px;
    min-height: 100vh;
    max-width: 400px;
}
.slide1{
    background-color: black;
    color: white;
}

.slide2 {

    /*background: rgb(0,0,0);*/
    /*background: linear-gradient(270deg, rgba(16, 16, 16,1) 50%, rgba(0,0,0,1) 100%);*/
    background: radial-gradient(ellipse at 50% 50%, rgba(16, 16, 16,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    background: -moz-radial-gradient(ellipse at 50% 50%, #20202D 0%, #101018 50%, #060612 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide2fade 4s ease forwards ;
    -moz-animation: slide2fade 4s ease forwards ;
    animation: slide2fade 4s ease forwards;
}
@-webkit-keyframes slide2fade {

    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes AnimationName {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide2fade {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide3 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(32, 32, 32,1) 60%, rgba(16, 16, 16,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide3fade 4s ease forwards  ;
    -moz-animation: slide3fade  4s ease forwards ;
    animation: slide3fade  4s ease forwards;
}
@-webkit-keyframes slide3fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide3fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide3fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
.slide4 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(64, 64, 64,1) 60%, rgba(32, 32, 32,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide4fade 4s ease forwards  ;
    -moz-animation: slide4fade  4s ease forwards ;
    animation: slide4fade  4s ease forwards;
}
@-webkit-keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}

.slide5 {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(64, 64, 64,1) 60%, rgba(32, 32, 32,1) 100%);
    color: white;
    background-size: 1000% 1000%;

    -webkit-animation: slide4fade 4s ease forwards  ;
    -moz-animation: slide4fade  4s ease forwards ;
    animation: slide4fade  4s ease forwards;
}
@-webkit-keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }

}
@-moz-keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}
@keyframes slide4fade  {
    0% { background-position: 0 100%; }
    100% { background-position: 100%; }
}

.container{
    font-size: 24px;
    place-items: center;
    width:auto;
    /*overflow: auto;*/
    /*position: absolute;*/
    /*what makes the width the size of content*/
    display: inline-block;

}
.mySlides{
    width: auto;
}

.caption {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: auto;
    -webkit-animation: fadeIn  5s ease infinite, typing 1s steps(10, end) forwards, blinking 1s infinite;
    -moz-animation: fadeIn  5s ease infinite, typing 1s steps(10, end) forwards, blinking 1s infinite;
    opacity: 0;
;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: white}
    100% {border-color: transparent}
}

@keyframes fadeIn {
    0%, 100% {opacity: 60%}
    50%{opacity: 100%}

}

